:host {
  display: block;

  p {
    display: flex;
    margin: auto;
    padding: 0 10px;
    width: clamp(280px, 100%, 600px);
  }

  form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    > div {
      display: flex;
      flex-direction: column;
      gap: 10px 0;

      > label {
        width: 180px;
        height: 35px;
        border: 3px inset #0300a5;
        border-radius: 5px;
        background-color: #4441ff;
        color: #fff;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s ease;

        &:hover {
          transform: scale(1.03);
        }
      }

      > input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: none;
        visibility: hidden;
        border-radius: 30px;
      }
    }

    .warning {
      color: red;
      font-weight: 600;
    }

    button {
      width: 70px;
      margin: 10px 0;
      font-weight: 600;
    }
  }

  > b {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0 10px;
    width: clamp(280px, 100%, 600px);
  }

  table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    thead {

      th {
        background: rgb(158, 227, 255);
      }
    }
  }
}
