<img src="assets/imagen-login.png" alt="login">

<form [formGroup]="formGroupLogin" (ngSubmit)="login($event)">

  <atoms-field-input
    label="Email"
    type="text"
    identification="username"
    name="username"
    placeholder=""
    formControlName="username"
    ></atoms-field-input>

  <atoms-field-input
    label="Contraseña"
    type="text"
    identification="password"
    name="password"
    placeholder=""
    formControlName="password"
    ></atoms-field-input>


  <button #submitLogin [disabled]="!formGroupLogin.valid">Ingresar</button>

  <a routerLink="/r/register">¿No tienes una cuenta?. Registrate</a>
</form>
